@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

html {
    position: relative;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Tajawal", sans-serif;
    color: #000;
}

a,
a:hover {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background-image: linear-gradient(0deg, #fe5305 0%, #f09628 100%);
    display: flex;
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
}

.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    /* box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); */
    background: #fcd2ac;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
}
.profile-card.active .profile-card__cnt {
    filter: blur(6px);
}
.profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
}
.profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    /* box-shadow:
        0px 5px 50px 0px #ff8225,
        0px 0px 0px 7px rgba(255, 130, 37, 0.5); */
}
@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}
.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
}
.profile-card__txt {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}
.profile-card__txt strong {
    font-weight: 700;
}
.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 0 80px;
}
.links .link {
    color: #000;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.links .link span {
    padding-top: 1px;
}
.links .link i {
    font-size: 24px;
    color: #000;
}
.links .link div {
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.social-media {
    margin-top: 40px;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social-media a i {
    font-size: 30px;
    color: #000;
}
@media (max-width: 768px) {
    .links {
        padding: 20px 20px 0;
        grid-template-columns: 1fr;
    }
    .social-media {
        padding: 0 20px 30px;
    }
}
